<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jaz1servletdemo</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>jaz1servletdemo.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>jaz1servletdemo.web.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EmailFilter</display-name>
    <filter-name>EmailFilter</filter-name>
    <filter-class>jaz1servletdemo.web.EmailFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmailFilter</filter-name>
    <url-pattern>/EmailFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CounterFilter</display-name>
    <filter-name>CounterFilter</filter-name>
    <filter-class>jaz1servletdemo.web.CounterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CounterFilter</filter-name>
    <url-pattern>/CounterFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RegisterFilter</display-name>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>jaz1servletdemo.web.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>jaz1servletdemo.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>